<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Add Goal</title>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'form.css' %}" />
        <style>
            input[type=text], select {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
            }
            
            input[type=submit] {
              width: 100%;
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type=submit]:hover {
              background-color: #45a049;
            }
            
            div {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }
            </style>
    </head>
    <body>
        <h2><a href="{% url 'chidieberen1999scrumy:home' %}">Home </a> <a href="{% url 'chidieberen1999scrumy:logout' %}">Logout</a></h2>
        <p>Currrent User: {{ request.user }}</p>
        <p>Groups: {{ request.user.groups.first }}</p><br>

        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>