<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>

    <p>Currrent User: {{ request.user }}</p>
    <p>Groups: {{ request.user.groups.first }}</p><br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2><a href="{% url 'chidieberen1999scrumy:addgoal' %}">Add Goal</a></h2>
    <h2><a href="{% url 'chidieberen1999scrumy:logout' %}">Logout</a></h2>
    <table>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        
        {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>
                    {% for goal in weekly %}
                        {% if goal.user == user %}
                            <a href="{% url 'chidieberen1999scrumy:movegoal' goal_id=goal.goal_id %}"> {{ goal.goal_id }} {{goal.goal_name}} </a><br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in daily %}
                        {% if goal.user == user%}
                            <a href="{% url 'chidieberen1999scrumy:movegoal' goal.goal_id %}"> {{ goal.goal_id }} {{goal.goal_name}} </a><br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in verify %}
                        {% if goal.user == user%}
                            <a href="{% url 'chidieberen1999scrumy:movegoal' goal.goal_id %}"> {{ goal.goal_id }} {{goal.goal_name}} </a><br>
                        {% endif %} 
                    {% endfor %}
                </td>
                <td>
                    {% for goal in done %}
                        {% if goal.user == user%}
                            <a href="{% url 'chidieberen1999scrumy:movegoal' goal.goal_id %}"> {{ goal.goal_id }} {{goal.goal_name}} </a><br>
                        {% endif %} 
                    {% endfor %}
                </td>
            </tr>
                
        {% endfor %}
    </table>
</body>

</html>